<h1>All types of Binding(refer html File)</h1>
<br>
<h2>Counter:{{count}}</h2>
<label>Increment By:
    <input type="number"[(ngModel)]='incrementBy'>
</label>

<button (click)="increment()" [class.hover]="isActive" >Increment</button>
<button (click)="decrement()"[style.backgroundColor]="textColor">Decrement</button>
<br><br>

<h1>Multiple Binding</h1>
<p>{{ getSum()}}</p>
<br>

<h1>Display data from object</h1>
<!-- <p>Name:{{user.name}}</p>
<p>Age:{{user.age}}</p>
<p>City:{{user.address.city}}</p> -->
<br>

<ul>
    <li *ngFor="let fruit of fruits">{{fruit}}</li>
</ul>


<table border="2">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let emp of employees">
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
    </tr>
</table>

<button [class.dark-mode]="isDarkmode"(click)='isDarkmode= !isDarkmode'>Toggle Dark mode</button>
<br>
<!-- 
<input [(ngModel)]="uname" placeholder="Enter name ...">
<button (click)="displayUname()">Click here</button>
<p>Welcome {{name}}!</p> -->

<form (submit)="formSubmit()">

    <label>Uname:</label>
    <input [(ngModel)]="user.name" >

    <label>Age:</label>
    <input [(ngModel)]="user.age">

    <button type="submit" >submit</button>
</form>

<p>Name:{{user.name}}</p>
<p>Age:{{user.age}}</p>