<h1>Pipes in Angular</h1>
<!-- <h2>Basic pipes</h2>
<p>{{'angular pipes'|uppercase}}</p>
<p>{{'ANGULAR PIPES'|lowercase}}</p>
<p>{{1000 |currency:'INR'}}</p>
<p>{{0.88|percent}}</p>
<p>{{today|date:'longDate'}}</p>
<p>{{'angular pipes'|uppercase|slice:5}}</p>
<h1>Custom Pipes in Angular</h1> -->
<!-- <p >{{"hello angular world"|pipes}}</p> -->

<!-- <input type="text" [(ngModel)]="searchText" placeholder="Search user">
<ul>
    <li *ngFor="let user of users|pipes:searchText">{{user.name}}</li>
</ul> -->

<!-- <h2>Pure Pipe </h2>
<p>{{ user | pipes }}</p>
<button (click)="changeName()">Change Name</button>
<button (click)="changeObject()">Change Object</button> -->
<!-- 
<h2>Impure pipe</h2>
<input [(ngModel)]="searchText" placeholder="Search">
<ul>
  <li *ngFor="let item of items | pipes: searchText">{{ item }}</li>
</ul>
<button (click)="addItem()">Add Item</button> -->

<!-- <ul>
    <li *ngFor="let num of number|slice:3">{{num}}</li>
</ul>
<p>{{'angular pipes'|uppercase|slice:5}}</p>

<p>{{25 |percent}}</p>
<p>{{25 |percent:'1.1-3'}}</p>

<p>{{1234.567|number:'1.2-3'}}</p>
<p>{{1234.567|number:'3.1-2'}}</p>

<pre>{{users|json}}</pre> -->

<!-- <ul>
    <li *ngFor="let use of users">{{ use.name|pipes}}</li>
  </ul> -->


  <p>{{ 'the lord of the rings' | smartTitlecase }}</p>