
<!-- <p appHighlight>Hover to change background color.</p> -->

<!-- <p *appDelay="2000">App delay directive</p> -->

<!-- <button class="btn bg-secondary text-white btn-lg" (click)="toggleMessage()">Toggle Message</button>
<p *ngIf="showMessage">This is a structural directive example.</p> -->

<!-- <p *appUnless="isVisible">This will be displayed when isVisible is false.</p> -->
<!-- <button (click)="isVisible = !isVisible">Toggle</button> -->

<!-- <p *ngIf="isVisible; else elseBlock">This is visible</p> -->
<!-- <ng-template #elseBlock>
    <p>This is Hidden.</p>
</ng-template> -->

<!-- <p *ngIf="a>b && a>c;  else elseBlock">A is greater {{a}}</p>
<ng-template #elseBlock>
    <p *ngIf="b>a && b>c;  else elseBlock">B is greater {{b}}</p>
    <ng-template #elseBlock>
        <p *ngIf="c>a && c>b;  ">C is greater {{c}}</p>
    </ng-template>
</ng-template> -->

<!-- <ng-container *ngIf="isVisible"; then thenBlock ; else elseBlock>
    <ng-template #thenBlock>
        <p>THEN block is visible</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>ELSE bloc is visible</p>
    </ng-template>
</ng-container> -->

<!-- <button *ngIf="isClick;  else elseBlock" (click)="isClick=!isClick">Login</button>

<ng-template #elseBlock >
   <p>You logged In</p>
   <button (click)="isClick=!isClick">LogOut</button>
</ng-template> -->

<!-- <ul class="list-group list-group-flush" *ngIf="items.length > 0; else noItems">
  <li class="list-item" *ngFor="let item of items">{{ item }}</li>
</ul>

<ng-template #noItems>
  <p>No items found!</p>
</ng-template> -->


<!-- <p *ngIf!="timeOut ;else elseBlock">Loading Please wait</p>
<ng-template #elseBlock>
    <p>Content loaded</p>
</ng-template> -->


<!-- <button class="btn btn-dark" (click)="onClick()" >Add products</button>
<button class="btn btn-dark" (click)="removeItem()">Remove products</button>
<ul>
    <li  *ngFor="let item of items;let i=index">{{i}} {{ item }}</li>
</ul> -->


<p [ngClass]="{'highlight': isHighlighted, 'bold': isBold}">
    This text changes styles dynamically.
  </p>
  <button (click)="toggleHighlight()">Toggle Highlight</button>
  <button (click)="toggleBold()">Toggle Bold</button>


  <p [ngClass]="{'highlight': isHighlighted}" [ngStyle]="{'font-size': fontSize}">
    This text has both dynamic class and styles.
  </p>
  <button (click)="increaseFontSize()">Increase Font Size</button>

  

  <div>
    <input type="text" placeholder="Enter color" [(ngModel)]="textColor" />
    <button (click)="applyColor()">Apply Color</button>
    <p [ngStyle]="{'color': textColor, 'font-size': textSize + 'px'}" [ngClass]="{'italic': isItalic}">
      Dynamic styling based on user input!
    </p>
  </div>
<style>
    .italic {
  font-style: italic;
}

</style>  